################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ZooPair/CopilotIndices/17.14.1204.46620
/.vs/ZooPair/FileContentIndex
/.vs/slnx.sqlite
/.vs/ZooPair/v17/.wsuo
/.vs/ZooPair/v17/DocumentLayout.backup.json
/.vs/ZooPair/v17/DocumentLayout.json
/.vs/slnx.sqlite-journal
/.vs/VSWorkspaceState.json
