################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.gitignore
*.sqlite
*.json
/.vs/ZooPair/v17
*.vsidx
/.vs
/.gitignore
