################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/ZooPair/v17/DocumentLayout.backup.json
/.vs/slnx.sqlite
/.vs/ZooPair/FileContentIndex
